
<div class="container ">
<div class="addArticle">
    <div class="form-group">
        <label for="inputContent">内容：</label>
        <textarea class="form-control" rows="6" id="inputContent" placeholder="想说点什么呢..."></textarea>
    </div>
    <div class="form-group">
        <label for="author">作者：</label>
        <label class="radio-inline">
            <input type="radio" name="author" id="nixuzhi" value="倪旭芝" checked> 倪旭芝
        </label>
        <label class="radio-inline">
            <input type="radio" name="author" id="zhengguorong" value="郑国榕"> 郑国榕
        </label>
    </div>
    <div class="form-group">
        <label for="picFile">选择图片</label>
        <input type="file" id="picFile">
    </div>
    <button onclick="uploadIcon()" class="btn btn-block btn-primary">保存</button>
</div>
</div>


<script>
    var uploadIcon = function() {
        var file = document.getElementById("picFile").files[0];
        var content = $("#inputContent").val();
        var author = $("input[name='author']:checked").val();
        if(!content||!file){
            alert("请输入内容或者选择图片");
            return;
        }
        //判断类型是不是图片
        if (!/image\/\w+/.test(file.type)) {
            alert("请选择图像类型的文件");
            return false;
        }
        if (!file) {
            return;
        }
        lrz(file, {width: 640}, function (images) {
            $.ajax({
                type:"POST",
                url:"/api/article",
                data:{fileData: images.base64,fileName: images.origin.name,content:content,author:author},
                statusCode:{
                    201:function(result) {
                        alert("添加成功!");
                        location.href="/";
                    },
                    500:function(result){
                        alert("服务器异常");
                    }
                }
            })
        });
    }
</script>
