
<div class="container" style="width:100%">
<div class="addArticle">
    <div class="form-group">
        <label for="inputTitle">标题：</label>
        <input type="text"  class="form-control" id="inputTitle" placeholder="请输入标题"/>
    </div>
    <div class="form-group">
        <label for="inputContent">内容：</label>
        <textarea class="form-control" rows="6" id="inputContent" placeholder="想说点什么呢..."></textarea>
    </div>
    <div class="form-group">
        <label for="author">作者：</label>
        <label class="radio-inline">
            <input type="radio" name="author" id="nixuzhi" value="zhi" checked> zhi
        </label>
        <label class="radio-inline">
            <input type="radio" name="author" id="zhengguorong" value="rong"> rong
        </label>
    </div>
    <div class="form-group">
        <label for="picFile">选择图片</label>
        <input type="file" id="picFile"  onchange="fileSelected()">
    </div>
    <div class="imgReView"></div>
    <button onclick="uploadIcon()" id="savebtn" class="btn btn-block btn-primary" style="margin: 20px 0 30px 0">保存</button>
</div>
</div>


<script>
    var flag=true;
    var fileSelected = function(){
        var file = document.getElementById("picFile").files[0];
        lrz(file, {width: 640}, function (images) {
            $(".imgReView").html("<img style='width:250px;' src='"+images.base64+"'/>");
        })
    }

    var uploadIcon = function() {

        if(!flag){
            $("#savebtn").html("哎呦!在忙着上传啦,别乱点了...");
            return;
        }
        $("#savebtn").html("正在上传...");
        var file = document.getElementById("picFile").files[0];
        var title = $("#inputTitle").val();
        var content = $("#inputContent").val();
        content = content.replace(/(\r\n|\n|\r)/gm, '<br>');
        var author = $("input[name='author']:checked").val();
        if(!content||!file){
            alert("请输入内容或者选择图片");
            return;
        }
        //判断类型是不是图片
        if (!/image\/\w+/.test(file.type)) {
            alert("请选择图像类型的文件");
            return false;
        }
        if (!file) {
            return;
        }
        flag=false;
        lrz(file, {width: 640}, function (images) {
            $.ajax({
                type:"POST",
                url:"/api/article",
                data:{fileData: images.base64,fileName: images.origin.name,content:content,author:author,title:title},
                statusCode:{
                    201:function(result) {
                        alert("添加成功!");
                        location.href="/";
                    },
                    500:function(result){
                        alert("服务器异常");
                    }
                },
                complete:function(){
                    console.log("请求完成");
                    flag=true;
                }
            })
        });
    }
</script>
