<!DOCTYPE html>
<html>
<head>
    <title>Suzy Live</title>
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <link rel='stylesheet' href='../public/stylesheets/swiper-3.3.0.min.css'/>
    <link rel='stylesheet' href='../public/stylesheets/style.css'/>
</head>
<body>
<div class="warp">
    <div class="num">VOL.1207</div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../public/upload/1.jpg" alt=""/></div>
            <div class="swiper-slide"><img src="../public/upload/2.jpg" alt=""/></div>
            <div class="swiper-slide"><img src="../public/upload/1.jpg" alt=""/></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!--<div class="pic"><img src="../public/upload/1.jpg" alt=""/></div>-->
    <div class="author">赵谦 作品</div>
    <div class="content-warp">
        <div class="date">
            <div class="day">27</div>
            <div class="month">Jan,2016</div>
        </div>
        <div class="content"><div class="left"></div>明知分离苦,相遇也难挡得住.难在不愿放弃遇见,难在没有勇气道别,这就是人生. BY Suzy</div>
    </div>
</div>
</body>
<script src="../public/javascripts/swiper-3.3.0.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        //autoplay: 5000,//可选选项，自动滑动
        pagination: '.swiper-pagination',
    })
</script>
</html>
