<!DOCTYPE html>
<html>
  <head>
      <title>Suzy Live</title>
      <meta name="description" content="">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta content="telephone=no" name="format-detection">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
      <link rel='stylesheet' href='/stylesheets/swiper-3.3.0.min.css'/>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/javascripts/jquery-1.10.1.min.js"></script>
  <script src="/javascripts/swiper-3.3.0.min.js"></script>
  <script src="/javascripts/lrz.mobile.min.js"></script>
  <script>
      var mySwiper = new Swiper('.swiper-container', {
          //autoplay: 5000,//可选选项，自动滑动
          pagination: '.swiper-pagination',
      })
  </script>
</html>
