<!DOCTYPE html>
<html>
<head>
    <title>Suzy Live</title>
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel='stylesheet' href='../public/stylesheets/style.css'/>
</head>
<body>
<div class="timeline">
    <div class="article">
        <div class="time">Jan 21,2016</div>
        <div class="title">明知分离苦,相遇也难挡得住.难在不愿放弃遇见,难在没有勇气道别,这就是人生</div>
        <div class="pic"><img src="../public/upload/1.jpg" alt=""/></div>
        <div class="author">作者:Suzy</div>
    </div>
    <div class="article">
        <div class="time">Jan 21,2016</div>
        <div class="title">明知分离苦,相遇也难挡得住.难在不愿放弃遇见,难在没有勇气道别,这就是人生</div>
        <div class="pic"><img src="../public/upload/2.jpg" alt=""/></div>
        <div class="author">作者:Suzy</div>
    </div>
    <div class="article">
        <div class="time">Jan 21,2016</div>
        <div class="title">明知分离苦,相遇也难挡得住.难在不愿放弃遇见,难在没有勇气道别,这就是人生</div>
        <div class="pic"><img src="../public/upload/4.jpg" alt=""/></div>
        <div class="author">作者:Suzy</div>
    </div>
    <div class="article">
        <div class="time">Jan 21,2016</div>
        <div class="title">明知分离苦,相遇也难挡得住.难在不愿放弃遇见,难在没有勇气道别,这就是人生</div>
        <div class="pic"><img src="../public/upload/5.jpg" alt=""/></div>
        <div class="author">作者:Suzy</div>
    </div>
</div>


</body>
</html>
