body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
  max-width: 640px;
}

a {
  color: #00B7FF;
}
.warp{
  margin: 0 10px;
}
.warp .num{
  height:40px;
  line-height: 40px;
  color: #565656;
}
.swiper-container{
  width: 100%;
  margin: 0 auto;
}
.swiper-container img{
  width: 100%;
}
.swiper-pagination-bullet-active{
  background-color: #fff;
}
.warp .author{
  height: 50px;
  line-height: 50px;
  color: #4b4b4b;
  float: right;
}
.content-warp{
  clear: both;
}
.content-warp .date{
  float: left;
  width: 25%;
  text-align: center;
  margin-top:-8px;
}
.content-warp .date .day{
  color: #3bc3f0;font-size: 45px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-warp .date .month{
  color: #b4b4b4;font-size: 12px;
}
.content-warp .content{
  float: right;
  width: 67%;
  background: #38c4f2;
  color: #fff;
  border-radius: 3px;
  padding: 8px 6px;
  line-height: 20px;
  position: relative;
}
.content-warp .content .left{
  border: 4px solid #fff;
  border-right-color: #38c4f2;
  width: 0;
  height: 0;
  position: absolute;
  left: -8px;
}

/*-------------------add Article----------------------*/
.addArticle{
  margin-top: 20px;
}


/*-------------------timeline----------------------*/
.timeline{
  overflow: hidden;
  background: url("../images/bg.png");
  padding: 20px 10px;
}
.timeline .article{
  background: #fff;
  padding: 5px 15px;
  border:1px #ccc solid;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}
.timeline .article .time{
  position: absolute;
  border:solid 1px #a8a9a9;
  color: rgb(102,102,102);
  background: #fff;
  border-radius: 20em;
  padding: 5px 10px;
  left: 50%;
  margin-left: -50px;
  top:-10px;
  font-size: 12px;
}
.timeline .title{
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  font-family: "微软雅黑";
  font-weight: bold;
  margin-top: 5px;
}
.timeline .author{
  color:rgb(128,124,124);
  font-size: 12px;
  line-height: 24px;
  margin-top: 10px;
  font-family: "微软雅黑";
}
.timeline img{
  width: 100%;
}
